
*{
  margin: 0;
  
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}


.App {
  text-align: center;
  align-content: center;
  
}
h1{
  margin:20px;
}

.heading {
background-color:black;
height:50px;
width:150px;
margin:30px;
color:white;
transition:all 0.5s;
border-radius: 10px;
border:none;
}
.heading:hover{
  background-color:white;
border-radius: 0;
color:black;
}
.what{
  left:25%;
  position:absolute;
}
.box{
  
  border:1px solid black;
  background-color:rgb(192, 79, 173);
  margin:20px;

  
  width:700px;
  height:100px;
  transition:all 0.7s;
  align-content: center;
  box-shadow: 5px 10px rgb(235, 187, 245,0.5);
border-radius:10px;
}
.rating{
  margin:10px;
  color:rgb(255, 255, 255);
  font-size:1.5rem;
}